*{
 
  box-sizing: border-box;
}
body{
  font-family: sans-serif;

}
.owl-carousel .item{
   margin: 5px;
}
.owl-wrapper{
	display: block; width: 8700px; left: 0px; transition: all 800ms ease 0s; transform: translate3d(-2610px, 0px, 0px);
}

.card1{
  background-color: lightgrey;
  border: none;
  padding: 30px;
}
.card-text1{
  border-left: 2px solid   #28bd5e;
  padding: 0px 10px;
}
